<div class="row">
    <div class="col-md-4" *ngFor="let item of listaProdutos">
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h5 class="card-title"> {{item.Nome}} </h5>
                </div>
                <div class="col-12">
                    <p class="card-title"> {{item.Valor | currency: 'BRL'}} </p>
                    <p style="font-weight: bold; font-size: 12px;" *ngIf="item.Tem_Promocao"> {{item.Promocao.Descricao}}</p>
                    <p style="font-weight: bold; font-size: 12px;" *ngIf="item.Tem_Promocao == false"> &nbsp; </p>
                </div>
            </div>
          
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 pr-0"> 
                    <input placeholder="Quantidade" type="number" class="form-control" #input [(ngModel)]="item.qtd">    
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-sm btn-outline-info mt-0" (click)="add(item)">
                        <i class="nc-icon nc-simple-add" style="font-weight: bold;"></i>
                    </button>
                </div>
            </div>
          
          
        </div>
      </div>
    </div>

  </div>